<!DOCTYPE html>
<html>
<head>
	<title>Nom-Nom Change Password</title>
	<link rel="stylesheet" type="text/css" href="../static/account.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Change Password</h1>
            <!-- Forget Password Form -->
            <form action="/pwdchanged" method="POST"> 
                <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
                <input type="password" id="password" class="fadeIn second" name="oldpass" placeholder="old password">
                <input type="password" id="password" class="fadeIn second" name="newpass" placeholder="new password">
                <input type="submit" class="fadeIn fourth" name="submit" value="Change the Password">
            </form>


  </div>
</div>
</body>
</html>