<!DOCTYPE html>
<html>
<head>
	<title>Nom-Nom Password Found</title>
	<link rel="stylesheet" type="text/css" href="../static/account.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Password Found!</h1><br>
            <label for="name">Dear User {{name}} : </label><br><p>
            <label for="email">Your Email Address: {{email}}</label><br><p>
            <label for="password"> Your Password: {{password}}</label><br><p>
            <a class="underlineHover" href="/login">&nbsp;&nbsp;Back to Login Page&nbsp;&nbsp;</a>
            <a class="underlineHover" href="/">&nbsp;&nbsp;Back to Home Page&nbsp;&nbsp;</a>
        </div>
    </div>
</body>
</html>
