@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
	margin: 0;
	background-color: #212121;
}

.main{
	width: 60vw;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	margin-top: 20vh;
	background-color: #e0e0e0;
	margin-left: 20vw;
}

#name{
	font-weight: 400px;
	font-weight: bold;
	text-align: left;
	font-family: "Poppins";
	color:rgb(189, 33, 118);
	font-size: 40px;
}

#email{
	font-size: 150%;
	color: #211777;
	font-family: "Poppins";
	font-size: 20px; 
	font-weight: bold;
}

#logoImage {
	width: 7%;
	height: 5%;
}


