@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
	margin: 0;
	background-color: rgb(251,201,178);
}


.name{
	font-size: 300%;
	font-family: monospace;
}

.email{
	font-size: 150%;
	color: #404040;
	font-family: monospace;
}

#img{
	position:absolute;
	right:100px;
	top:175px;
}

#img-text{
	text-align:right;
	font-size: 150%;
	color: #404040;
	font-family: monospace;
	position:absolute;
	right:150px;
	top: 300px;
}

#button{
	color:Black; 
	background-color: #E5989B; 
	border: none; 
	font-weight: 400; 
	font-weight: bold; 
	width: 30%; 
	height: 15%; 
	border-radius: 15px;
	position:absolute;
}


.search {
	width: 100%;
	position: relative;
	display: flex;
	font-family: "Open Sans", sans-serif;
  }
  
  .searchTerm {
	width: 100%;
	border: 3px solid #00b4cc;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9dbfaf;
  }
  
  .searchTerm:focus {
	color: #00b4cc;
  }
  
  .searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #00b4cc;
	background: #00b4cc;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap {
	width: 30%;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Open Sans", sans-serif;
  }
  