body{
	margin: 0;
	background-color: rgb(252, 213, 195); 
}

.main{
	width: 60vw;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	margin-top: 20vh;
	background-color: #4B3A35; 
	margin-left: 20vw;
}

.name{
	font-size: 300%;
	font-family: monospace;
}

.email{
	font-size: 150%;
	color: #404040;
	font-family: monospace;
}

#logoImage {
	width: 7%;
	height: 5%;
}

#addChecklist{
  width:75px;
  height:75px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
