<!DOCTYPE html>
<html>
<head>
	<title>Nom-Nom Find Password</title>
	<link rel="stylesheet" type="text/css" href="../static/account.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1>Find Password</h1>
            <!-- Forget Password Form -->
            <form action="/findpwd" method="POST">
                <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">  
                <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
                <input type="text" id="birth" class="fadeIn third" name="birth" placeholder="dd/mm/yyyy">
                <input type="submit" class="fadeIn fourth" name="submit" value="Find the Password">
            </form>

  </div>
</div>
</body>
</html>