<!DOCTYPE html>
<html>
<head>
	<title>Nom-Nom Profile</title>
	 <link rel="stylesheet" type="text/css" href="../static/profile.css">
	 
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<script type="text/javascript">
function myFunction(){
    var msg = confirm("Are you sure that you want to log out?");
    if (msg) {
        window.location.href = "/logout";
    }
}
</script>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
		<div class="container-fluid">
		    <img id="logoImage" src="../uploads/logo.png" alt="logo">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			    <li class="nav-item">
				    <a class="nav-link active" aria-current="page" href="/welcomeback">Home</a>
			    </li>
			    <li class="nav-item">
				    <a class="nav-link" href="/map">Our Map</a>
			    </li>
			    <li class="nav-item">
				    <a class="nav-link" href="/updateNews">Update News</a>
			    </li>
                <li class="nav-item">
				    <a class="nav-link" href="/profile">My Profile</a>
			    </li>
				<li class="nav-item">
					<a class="nav-link" href = "javascript:void(0)" onclick="myFunction()">Log Out</a>
				</li>			
			    </ul>
		    </div>
		</div>
	</nav>


<div id="img">
<img src="../uploads/user1.png" style="width: 100px; height: 100px">
</div>
<h3 id="img-text" style="font-size: 20px; color: #4B3A35; right: 120px;">Selfie</h3>



<div class="profile" style="text-align: left; padding: 75px">
	<h1 id="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder">Jacob's Profile</h1>
	
	<br>
	<h3 id="email" style="font-size: 20px; color: #4B3A35">Email: Jacob123@etc.com</h3>
	<h3 id="email" style="font-size: 20px; color: #4B3A35">Self description: <br> A handsome boy!</h3>	
	<br><br><br><br><br><br>
	<h3 id="email" style="font-size: 20px; color: #4B3A35">Friends List:</h3>	

<br>
<table>
   <tr>
    <td><a href="/profile"><img src="../uploads/user.jpg" style="margin: 0 15px; width: 200px; height: 200px;"></a></td>
    <td><a href="/friend2"><img src="../uploads/user2.png" style="margin: 0 15px; width: 200px; height: 200px;"></a></td>
   </tr>
</table>
<br>

</main>
<h3 id="email" style="font-size: 20px; color: #4B3A35">More Friends? Share your profile to:</h3>
<br>
<table>
  <tr>
    <td><a href="https://www.facebook.com/?_rdc=1&_rdr"><img src="../uploads/facebook.png" style="margin: 0 12px; width: 128px; height: 128px;"></a></td>
    <td><a href="https://twitter.com/?lang=en"><img src="../uploads/twitter.png" style="margin: 0 12px; width: 75px; height: 61px;"></a></td>
    <td><a href="https://www.instagram.com/"><img src="../uploads/instagram.png" style="margin: 0 30px; width: 75px; height: 75px;"></a></td>
  </tr>
</table>
	<br>
	<h3 id="email" style="font-size: 20px; color: #4B3A35">Visited Restaurants:</h3>	
	<br>

<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Domino's pizza</h2>
      <p class="copy">an American multinational pizza restaurant</p>
      <a href="https://www.google.ca/maps/place/Domino's+Pizza/@43.0104496,-81.3553011,13z/data=!4m8!1m2!2m1!1sdomino's+pizza!3m4!1s0x882eee5aab06424f:0xe4f0c9c80779b9fd!8m2!3d43.0129525!4d-81.3309167?hl=en">
      <button class="btn">View Location</button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Swiss Chalet</h2>
      <p class="copy">a Canadian chain of casual dining restaurants</p>
      <a href="https://www.google.ca/maps/place/Swiss+Chalet/@42.9910418,-81.3379519,12z/data=!4m8!1m2!2m1!1sswiss+chalet!3m4!1s0x882ef1d2a5d79fa7:0x4ccbec36eb7822a4!8m2!3d42.989595!4d-81.2937885?hl=en">
      <button class="btn">View Location</button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Heart Sushi</h2>
      <p class="copy">Modern Japanese cafe for cooked fare & sushi, dim sum, a lunch buffet & a full bar with sake.</p>
      <a href="https://www.google.ca/maps/place/Heart+Sushi/@42.9777627,-81.3022282,13.75z/data=!4m8!1m2!2m1!1ssushi!3m4!1s0x0:0x8de9896fa7d3aa!8m2!3d42.9830276!4d-81.2910604?hl=en">
      <button class="btn">View Location</button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Chatime</h2>
      <p class="copy">the largest teahouse franchise in the world</p>
      <a href="https://www.google.ca/maps/place/Chatime/@42.9844412,-81.2938621,17z/data=!3m1!4b1!4m5!3m4!1s0x882ef1cc663fc865:0x30b297d50e99c541!8m2!3d42.9844412!4d-81.2916681?hl=en">
      <button class="btn">View Location</button>
      </a>
    </div>
  </div>
</main>
	<br>
	<form action="/map">
    	<input type="submit" style="color:Black; background-color: #E5989B; border: none; font-weight: 400; font-weight: bold; width: 30%; height: 15%; border-radius: 15px" value="More Restuarants?">
	</form>	
	<br>
	<h3 id="email" style="font-size: 20px; color: #4B3A35">Reviews:</h3>	
<br>
<table>
   <tr>
       <td><a href="/review1"><img src="../uploads/pizza.jpg" style="margin: 0 12px; width: 232px; height: 350px;"></a></td>
   </tr>
</table>
</table>
<br>




</body>
</html>