<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Nom-Nom</title>
	<link rel="stylesheet" type="text/css" href="../static/homepage.css">
	 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>	 
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body style="background-color: #FFDAB9">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid"  id="intro">
		    <img id="logoImage" src="../uploads/logo.png" alt="logo">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			    <li class="nav-item">
				    <a class="nav-link active" aria-current="page" href="#intro">Introduction</a>
			    </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Instructions">Instructions</a>
                </li>
			    </ul>
		    </div>
		</div>
	</nav>
	
	<!--Introduction part-->
    <div class="main" style="background-color: #FFDAB9; text-align: left">
	    <h1 id="name">Eating Is<br>Butter Together</h1>
	    <br>
	    <h3 id="email">Find, Share, and Recommend Restaurants with your friends</h3>
	    <br>
	    <br>
	    <form action="/login">
    	    <input type="submit" style="color:Black; background-color: #E5989B; border: none; font-weight: 400; font-weight: bold; width: 30%; height: 15%; border-radius: 15px" value="Start Now!">
	    </form>
    </div>

    <!--About us part-->
    <div class="ourStory" style="background-color: #FFF9F4; text-align: left; padding: 200px" id="aboutus">
	    <h1 id="name" style="font-size: 40px">Our Story</h1>
	    <br>
		<h3 class="email" style="font-size: 20px; color: #4B3A35">
		We are a group passionate about finding good food and fostering friendship. While on our journey of exploring
		where are the best spots for food, we find that we can't find a perfect food recommendation platform that
		allows us to easily compile a list with friends. When we want to share food with friends, often we have to
		screenshot or send the url, and then compile the spots into a list on a separate doc.<br>
		<br>
		Food sharing experience does not have to complicated and our platfrom aims to simplify its process while building that relationship with friends
		so that we can <b>spend more time "NomNom"ing together </b><br>
		</h3>
	    <br>
	    <br>
    </div>

    <!--Instructions part-->
    <div class="howItWorks" style="background-color: #FFB9B9; padding: 200px" id="Instructions">
	    <br>
	    <br>
	    <h1 id="name" style="font-size: 40px; font-weight: bolder; text-align: center">How It Works</h1>
	    <br>
		<h3 class="email" style="font-size: 20px; color: #4B3A35">Add in illustrations later here</h3>
		1. Users will create an account such that the website can save all their information and personalize their webpage<br>
		2. Then they can explore the map tab on the website to search and find food locations.<br>
		3. When they found a location that they want to visit in the future, they can add the location to their list of restaurants<br>
		4. They can also add friends to the list such that they can collaborate on creating a list tailored to food their journey<br>
		<br>
		So click on that "get started button" and start finding that perfect spot to <b>NomNom</b>!
		<br>
	    <br>
    </div>


	<!--Our team part-->
    <div class="outTeam" style="background-color: #FFF9F4; text-align: left; padding: 200px" id="ourteam">
	    <br>
	    <br>
	    <br>
	    <h1 id="name" style="font-size: 40px">Our Team</h1>
	    <br>
		<h3 class="email" style="font-size: 20px; color: #4B3A35">Add in illustrations later here</h3>

    </div>

<a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i>  </a>
</body>
</html>