<!DOCTYPE html>
<html>
<head>
	<title>Nom-Nom Welcome Back</title>
	 <link rel="stylesheet" type="text/css" href="../static/logout.css">
	 
</head>
<body>
	
<div class="profile" style="text-align: left; padding: 50px">
	<br>
	<br>
	<br>
	<h1 id="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder">Good Bye, {{name}}</h1>
	<br>
	<h3 id="email" style="font-size: 20px; color: #4B3A35">You have successfully logged out, see you next time!</h3>
	<br>
	<br>
	<form action="/">
    	<input type="submit" style="color:Black; background-color: #E5989B; border: none; font-weight: 400; font-weight: bold; width: 30%; height: 15%; border-radius: 15px" value="Back to Home Page">
	</form>
	<br>
	<br>
</div>


</body>
</html>