The bubble tea place is my absolute favourite. The pearls have the perfect texture, not too chewy that it becomes rubbery, but also not too soft that there’s a mush texture. The pearls definitely make this place stands out amongst the so many bubble tea stores in Toronto

The pizzas here’s are great! The service is always super friendly and the pizza quality has stayed fairly consistent. I can’t tell any difference between this store and any other domino place. A nice place for a late night snack since they’re open until midnight

The servers are always smiling and take your orders pretty quickly after you’re seated. Sometimes it can be a little noisy but that’s somewhat expected because it’s a casual dining experience. Food was served pretty quickly after I ordered

The veggie ingredients are fresh, and usually have all the options to choose from. Sometimes there’s a pretty long line, especially during meal time, but if you go late night or in the afternoon then you can avoid the crowd. My orders tend to take quite a while to make so it’s usually not bad but also not the best experience for me


siwss chalet 2
heart sushi 4

dominos 1

chatime 3



