<!DOCTYPE html>
<html>
<head>
	<title>Nom-Nom Profile</title>
	 <link rel="stylesheet" type="text/css" href="../static/share.css">
	 
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<script type="text/javascript">
function myFunction(){
    var msg = confirm("Are you sure that you want to log out?");
    if (msg) {
        window.location.href = "/logout";
    }
}
</script>

<body style="background-color: rgb(251,201,178);">
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
		<div class="container-fluid">
		    <a class="navbar-brand">Logo picture and app name: Nom-Nom</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			    <li class="nav-item">
				    <a class="nav-link active" aria-current="page" href="/welcomeback">Home</a>
			    </li>
			    <li class="nav-item">
				    <a class="nav-link" href="/map">Our Map</a>
			    </li>
			    <li class="nav-item">
				    <a class="nav-link" href="/community">Community</a>
			    </li>
				<li class="nav-item">
				    <a class="nav-link" href="/profile">Profile</a>
			    </li>
				<li class="nav-item">
					<a class="nav-link" href = "javascript:void(0)" onclick="myFunction()">Log Out</a>
				</li>			

                <!--
			    <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				        Dropdown
				    </a>
				    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				        <li><a class="dropdown-item" href="#">Action</a></li>
				        <li><a class="dropdown-item" href="#">Another action</a></li>
				        <li><hr class="dropdown-divider"></li>
				        <li><a class="dropdown-item" href="#">Something else here</a></li>
				    </ul>
			    </li>
			    <li class="nav-item">
				    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			    </li>                
                -->

			    </ul>
			    <form class="d-flex">
			        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			        <button class="btn btn-outline-success" type="submit">Search</button>
			    </form>
		    </div>
		</div>
	</nav>


<div class="wrap" style="text-align: center; padding: 45px">
	<h1 id="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder">More Friends</h1>
   	<div class="search">
      	<input type="text" class="searchTerm" placeholder="Search for New Friends">
     	<button type="submit" class="searchButton"></button>
   	</div>
</div>


<div class="profile" style="text-align: center; padding: 300px">
	<br>
	<br>
	<br>
	<h1 id="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder">Share with others</h1>
	<br>
	<p>Facebook</p>
	<p>Instagram</p>
	<p>Tiwitter</p>
</div>


</body>
</html>