<!DOCTYPE html>
<html>
<head>
	<title>Nom-Nom Welcome Back</title>
	 <link rel="stylesheet" type="text/css" href="../static/welcomeback.css">
	 
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body style="background-color: rgb(252, 213, 195)">
<script type="text/javascript">
function myFunction(){
    var msg = confirm("Are you sure that you want to log out?");
    if (msg) {
        window.location.href = "/logout";
    }
}
</script>

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
		<div class="container-fluid">
		    <img id="logoImage" src="../uploads/logo.png" alt="logo">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				    <a class="nav-link active" href="/map">Our Map</a>
			    </li>
				<li class="nav-item">
					<a class="nav-link" href="/community">Community</a>
				</li>
			    <li class="nav-item">
				    <a class="nav-link" aria-current="page" href="/profile">Profile</a>
			    </li>				
				<li class="nav-item">
					<a class="nav-link" href = "javascript:void(0)" onclick="myFunction()">Log Out</a>
				</li>
			    </ul>
		    </div>
		</div>
	</nav>
	
<div class="welcomeback" style="background-color: rgb(252, 213, 195); text-align: left; padding: 50px">
	<br>
	<br>
	<br>
	<h1 id="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder">Welcome Back, {{name}}</h1>
	<br>
	<h3 id="email" style="font-size: 20px; color: #4B3A35">start sharing with your friends!</h3>
	<br>
</div>

<h1 id="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder">Check List</h1>
<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Mountain View</h2>
      <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
      <button class="btn">View Trips</button>
    </div>
  </div>
  <br>
<br>
<br>
<br>
</main>

</body>
</html>