<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
	 <link rel="stylesheet" type="text/css" href="../static/welcome.css">
	 
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>Food Recommendation App</title>
</head>
<body style="background-color: #FFDAB9">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Navigate to different pages</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/welcome">Welcome Page</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/map">Map</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Dropdown
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <li><a class="dropdown-item" href="#">Action</a></li>
				  <li><a class="dropdown-item" href="#">Another action</a></li>
				  <li><hr class="dropdown-divider"></li>
				  <li><a class="dropdown-item" href="#">Something else here</a></li>
				</ul>
			  </li>
			  <li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			  </li>
			</ul>
			<form class="d-flex">
			  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		  </div>
		</div>
	</nav>
	


</div>	
<div class="main" style="background-color: #FFDAB9; text-align: left">
	<h1 id="name">Eating Is<br>Butter Together</h1>
	<br>
	<h3 id="email">Find, Share, and Recommend Restaurants with your friends</h3>
	<br>
	<br>
	<form action="/profile">
    	<input type="submit" style="color:Black; background-color: #E5989B; border: none; font-weight: 400; font-weight: bold; width: 30%; height: 15%; border-radius: 15px" value="Start Now!">
	</form>
</div>

<div class="ourStory" style="background-color: #FFF9F4; text-align: left; padding: 200px">
	<br>
	<br>
	<br>
	<h1 class="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder">Our Story</h1>
	<br>
	<h3 class="email" style="font-size: 20px; color: #4B3A35">We are a group passionate about finding good food and fostering friendship</h3>
	<br>
	<br>
</div>

<div class="howItWorks" style="background-color: #FFB9B9; padding: 200px">
	<br>
	<br>
	<h1 class="name" style="font-size: 40px; color: #4B3A35;font-weight: bolder; text-align: center">How It Works</h1>
	<br>
	<h3 class="email" style="font-size: 20px; color: #4B3A35">Add in illustrations later here</h3>
	<br>
	<br>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>
</html>